html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom right, rgb(166, 158, 255), rgb(208, 0, 255));
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the gradient covers the entire screen */
  background-position: center; /* Optional: to center the gradient */
}

.h1{
 font-family: "junegull", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
}



.btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .btn:hover{
    background: #ffffff;
    color: #6b5ef4
  }


  #taskCounter{
    color: white;
    text-shadow: 2px 2px 2px #6b5ef4;
    
    }